ssh27 () { ssh ollhel1@dev27; }
ssh28 () { ssh ollhel1@dev28; }
ssh29 () { ssh ollhel1@dev29; }
ssh30 () { ssh ollhel1@dev30; }
ssh31 () { ssh ollhel1@dev31; }
ssh32 () { ssh ollhel1@dev32; }
ssh33 () { ssh ollhel1@dev33; }
ssh34 () { ssh ollhel1@dev34; }
ssh35 () { ssh ollhel1@dev35; }
ssh36 () { ssh ollhel1@dev36; }
ssh37 () { ssh ollhel1@dev37; }
ssh38 () { ssh ollhel1@dev38; }
